:host{
    --display-none: inline-block;
    --div-margin-bottom: 1rem;
}

.custom-css-for-cg  .slds-form-element__control .slds-checkbox{
    display: var(--display-none);
}
.custom-css-for-cg {
    display:var(--display-none);
}
.THIS .slds-form-element__control {
    display: inline-block!important;
 }
.THIS .slds-checkbox{
    display:inline-block!important;
}
.checkbox-option{
    padding-right:2rem;
}
.cs-margin-bottom{
    margin-bottom: var(--div-margin-bottom);
}